<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>contact us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form>
    <ion-card>
      <ion-card-header>
        <ion-card-title> contact us</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">email</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Message</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
        <ion-row justify-content-center>
         <ion-button expand="full" size="default" shape="round" color="success" type="submit">Send</ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
