<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapId" style="width: 100%; height:70%"></div>
  <ion-row justify-content-center>
    <p>
    your Location : <span>{{address}}</span> 
    </p>
  </ion-row>
  <ion-row justify-content-center>
    <ion-button shape="round" fill="outline" size="small" (click)="currentLoction()" color="primary">
      location
      <ion-icon name="locate" slot="end"></ion-icon>
    </ion-button>
    <ion-button shape="round" fill="outline" size="small" color="primary" (click)="send()">
      send
      <ion-icon name="send" slot="end"></ion-icon>
    </ion-button>
  </ion-row>
</ion-content>
