<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-label margin text-center color="danger">{{message}}</ion-label>
<ion-content padding>
  <form (ngSubmit)="login()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Please, Sign In</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">email</ion-label>
          <ion-input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-row justify-content-center>
          <ion-button expand="full" size="default" shape="round" color="success" type="submit">Login</ion-button>
        </ion-row>
        <ion-row justify-content-center>
          <ion-button type="button" expand="full" size="default" shape="round" color="medium" 
          routerLink="/register" rootDirection="forward">Register</ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
